<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<string>6:05am,6:20am</string>
	<key>2</key>
	<string>6:20am,6:35am</string>
	<key>3</key>
	<string>6:40am,6:55am</string>
	<key>4</key>
	<string>6:51am,7:06am</string>
	<key>5</key>
	<string>7:00am,7:15am</string>
	<key>6</key>
	<string>7:11am,7:26am</string>
	<key>7</key>
	<string>7:22am,7:37am</string>
	<key>8</key>
	<string>7:33am,7:48am</string>
	<key>9</key>
	<string>7:44am,7:58am</string>
	<key>10</key>
	<string>7:55am,8:10am</string>
	<key>11</key>
	<string>8:06am,8:21am</string>
	<key>12</key>
	<string>8:17am,8:32am</string>
	<key>13</key>
	<string>8:28am,8:43am</string>
	<key>14</key>
	<string>8:39am,8:54am</string>
	<key>15</key>
	<string>8:50am,9:05am</string>
	<key>16</key>
	<string>9:01am,9:16am</string>
	<key>17</key>
	<string>9:12am,9:27am</string>
	<key>18</key>
	<string>9:23am,9:38am</string>
	<key>19</key>
	<string>9:34am,9:49am</string>
	<key>20</key>
	<string>9:45am,10:00am</string>
	<key>21</key>
	<string>10:00am,10:15am</string>
	<key>22</key>
	<string>10:30am,10:45am</string>
	<key>23</key>
	<string>11:00am,11:15am</string>
	<key>24</key>
	<string>11:30am,11:45am</string>
	<key>25</key>
	<string>12:00pm,12:15pm</string>
	<key>26</key>
	<string>12:30pm,12:45pm</string>
	<key>27</key>
	<string>1:00pm,1:15pm</string>
	<key>28</key>
	<string>1:30pm,1:45pm</string>
	<key>29</key>
	<string>2:00pm,2:15pm</string>
	<key>30</key>
	<string>2:30pm,2:45pm</string>
	<key>31</key>
	<string>3:00pm,3:15pm</string>
	<key>32</key>
	<string>3:12pm,3:27pm</string>
	<key>33</key>
	<string>3:30pm,3:45pm</string>
	<key>34</key>
	<string>3:42pm,3:57pm</string>
	<key>35</key>
	<string>3:53pm,4:08pm</string>
	<key>36</key>
	<string>4:04pm,4:19pm</string>
	<key>37</key>
	<string>4:15pm,4:30pm</string>
	<key>38</key>
	<string>4:26pm,4:43pm</string>
	<key>39</key>
	<string>4:37pm,4:52pm</string>
	<key>40</key>
	<string>4:48pm,5:03pm</string>
	<key>41</key>
	<string>4:59pm,5:14pm</string>
	<key>42</key>
	<string>5:10pm,5:25pm</string>
	<key>43</key>
	<string>5:21pm,5:36pm</string>
	<key>44</key>
	<string>5:32pm,5:47pm</string>
	<key>45</key>
	<string>5:43pm,5:57pm</string>
	<key>46</key>
  <string>5:54pm,6:09pm</string>
	<key>47</key>
	<string>6:05pm,6:20pm</string>
	<key>48</key>
	<string>6:16pm,6:31pm</string>
	<key>49</key>
	<string>6:27pm,6:42pm</string>
	<key>50</key>
	<string>6:38pm,6:53pm</string>
	<key>51</key>
	<string>6:49pm,7:04pm</string>
	<key>52</key>
	<string>7:00pm,7:15pm</string>
	<key>53</key>
	<string>7:11pm,7:26pm</string>
	<key>54</key>
	<string>7:30pm,7:45pm</string>
	<key>55</key>
	<string>8:00pm,8:15pm</string>
	<key>56</key>
	<string>8:30pm,8:45pm</string>
	<key>57</key>
	<string>9:00pm,9:20pm</string>
</dict>
</plist>
