<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<string>6:00am,6:12am</string>
	<key>2</key>
	<string>6:15am,6:27am</string>
	<key>3</key>
	<string>6:30am,6:42am</string>
	<key>4</key>
	<string>6:45am,6:57am</string>
	<key>5</key>
	<string>7:00am,7:12am</string>
	<key>6</key>
	<string>7:15am,7:27am</string>
	<key>7</key>
	<string>7:30am,7:42am</string>
	<key>8</key>
	<string>7:45am,7:57am</string>
	<key>9</key>
	<string>8:00am,8:12am</string>
	<key>10</key>
	<string>8:15am,8:27am</string>
	<key>11</key>
	<string>8:30am,8:42am</string>
	<key>12</key>
	<string>8:45am,8:57am</string>
	<key>13</key>
	<string>9:00am,9:12am</string>
	<key>14</key>
	<string>9:15am,9:27am</string>
	<key>15</key>
	<string>9:30am,9:42am</string>
	<key>16</key>
	<string>9:45am,9:57am</string>
	<key>17</key>
	<string>4:15pm,4:27pm</string>
	<key>18</key>
	<string>4:30pm,4:42pm</string>
	<key>19</key>
	<string>4:45pm,4:47pm</string>
	<key>20</key>
	<string>5:00pm,5:12pm</string>
	<key>21</key>
	<string>5:15pm,5:27pm</string>
	<key>22</key>
	<string>5:30pm,5:42pm</string>
	<key>23</key>
	<string>5:45pm,5:57pm</string>
	<key>24</key>
	<string>6:00pm,6:12pm</string>
	<key>25</key>
	<string>6:15pm,6:27pm</string>
	<key>26</key>
	<string>6:30pm,6:42pm</string>
	<key>27</key>
	<string>6:45pm,6:57pm</string>
	<key>28</key>
	<string>7:00pm,7:12pm</string>
	<key>29</key>
	<string>7:15pm,7:27pm</string>
	<key>30</key>
	<string>7:30pm,7:42pm</string>
	<key>31</key>
	<string>7:45pm,7:57pm</string>
	<key>32</key>
	<string>8:50pm,9:02pm</string>
	<key>33</key>
	<string>9:50pm,10:02pm</string>
</dict>
</plist>
