<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<string>7:15am,7:21am</string>
	<key>2</key>
	<string>7:30am,7:36am</string>
	<key>3</key>
	<string>7:45am,7:52am</string>
	<key>4</key>
	<string>8:00am,8:07am</string>
	<key>5</key>
	<string>8:15am,8:22am</string>
	<key>6</key>
	<string>8:30am,8:36am</string>
	<key>7</key>
	<string>8:45am,8:52am</string>
	<key>8</key>
	<string>9:00am,9:07am</string>
	<key>9</key>
	<string>9:15am,9:22am</string>
	<key>10</key>
	<string>9:30am,9:37am</string>
	<key>11</key>
	<string>9:45am,9:52am</string>
	<key>12</key>
	<string>9:58am,10:04am</string>
	<key>13</key>
	<string>10:18am,10:24am</string>
	<key>14</key>
	<string>10:38am,10:44am</string>
	<key>15</key>
	<string>10:58am,11:04am</string>
	<key>16</key>
	<string>11:18am,11:24am</string>
	<key>17</key>
	<string>11:38am,11:44am</string>
	<key>18</key>
	<string>11:58am,12:04am</string>
	<key>19</key>
	<string>12:18pm,12:24pm</string>
	<key>20</key>
	<string>12:38pm,12:44pm</string>
	<key>21</key>
	<string>12:58pm,1:04pm</string>
	<key>22</key>
	<string>1:18pm,1:24pm</string>
	<key>23</key>
	<string>1:38pm,1:50pm</string>
	<key>24</key>
	<string>1:58pm,2:10pm</string>
	<key>25</key>
	<string>2:18pm,2:30pm</string>
	<key>26</key>
	<string>2:38pm,2:50pm</string>
	<key>27</key>
	<string>2:58pm,3:10pm</string>
	<key>28</key>
	<string>3:18pm,3:30pm</string>
	<key>29</key>
	<string>3:38pm,3:50pm</string>
	<key>30</key>
	<string>4:00pm,4:07pm</string>
	<key>31</key>
	<string>4:15pm,4:22pm</string>
	<key>32</key>
	<string>4:30pm,4:37pm</string>
	<key>33</key>
	<string>4:45pm,4:52pm</string>
	<key>34</key>
	<string>5:00pm,5:07pm</string>
	<key>35</key>
	<string>5:15pm,5:22pm</string>
	<key>36</key>
	<string>5:30pm,5:37pm</string>
	<key>37</key>
	<string>5:45pm,5:52pm</string>
	<key>38</key>
	<string>6:00pm,6:07pm</string>
	<key>39</key>
	<string>6:15pm,6:22pm</string>
	<key>40</key>
	<string>6:30pm,6:37pm</string>
	<key>41</key>
	<string>6:45pm,6:52pm</string>
	<key>42</key>
	<string>7:00pm,7:07pm</string>
	<key>43</key>
	<string>7:15pm,7:22pm</string>
	<key>44</key>
	<string>7:30pm,7:37pm</string>
	<key>45</key>
	<string>7:45pm,7:52pm</string>
	<key>46</key>
	<string>7:58pm,8:10pm</string>
	<key>47</key>
	<string>8:18pm,8:30pm</string>
	<key>48</key>
	<string>8:38pm,8:50pm</string>
	<key>49</key>
	<string>8:58pm,9:10pm</string>
	<key>50</key>
	<string>9:18pm,9:30pm</string>
	<key>51</key>
	<string>9:38pm,9:50pm</string>
	<key>52</key>
	<string>9:58pm,10:10pm</string>
	<key>53</key>
	<string>10:18pm,10:30pm</string>
	<key>54</key>
	<string>10:38pm,10:50pm</string>
</dict>
</plist>
