<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<string>6:00am,6:07am</string>
	<key>2</key>
	<string>6:07am,6:14am</string>
	<key>3</key>
	<string>6:15am,6:22am</string>
	<key>4</key>
	<string>6:22am,6:29am</string>
	<key>5</key>
	<string>6:30am,6:37am</string>
	<key>6</key>
	<string>6:37am,6:44am</string>
	<key>7</key>
	<string>6:45am,6:52am</string>
	<key>8</key>
	<string>6:52am,6:59am</string>
	<key>9</key>
	<string>7:00am,7:07am</string>
	<key>10</key>
	<string>7:07am,7:14am</string>
	<key>11</key>
	<string>7:15am,7:22am</string>
	<key>12</key>
	<string>7:22am,7:29am</string>
	<key>13</key>
	<string>7:30am,7:37am</string>
	<key>14</key>
	<string>7:37am,7:44am</string>
	<key>15</key>
	<string>7:45am,7:52am</string>
	<key>16</key>
	<string>7:52am,7:59am</string>
	<key>17</key>
	<string>8:00am,8:07am</string>
	<key>18</key>
	<string>8:07am,8:14am</string>
	<key>19</key>
	<string>8:15am,8:22am</string>
	<key>20</key>
	<string>8:22am,8:29am</string>
	<key>21</key>
	<string>8:30am,8:37am</string>
	<key>22</key>
	<string>8:37am,8:44am</string>
	<key>23</key>
	<string>8:45am,8:52am</string>
	<key>24</key>
	<string>8:52am,8:59am</string>
	<key>25</key>
	<string>9:00am,9:07am</string>
	<key>26</key>
	<string>9:07am,9:14am</string>
	<key>27</key>
	<string>9:15am,9:22am</string>
	<key>28</key>
	<string>9:22am,9:29am</string>
	<key>29</key>
	<string>9:30am,9:37am</string>
	<key>30</key>
	<string>9:37am,9:44am</string>
	<key>31</key>
	<string>9:45am,9:52am</string>
	<key>32</key>
	<string>9:52am,9:59am</string>
	<key>33</key>
	<string>10:00am,10:07am</string>
	<key>34</key>
	<string>10:07am,10:14am</string>
	<key>35</key>
	<string>10:15am,10:22am</string>
	<key>36</key>
	<string>10:22am,10:29am</string>
	<key>37</key>
	<string>10:30am,10:37am</string>
	<key>38</key>
	<string>10:37am,10:44am</string>
	<key>39</key>
	<string>10:45am,10:52am</string>
	<key>40</key>
	<string>10:52am,10:59am</string>
	<key>41</key>
	<string>11:00am,11:07am</string>
	<key>42</key>
	<string>11:07am,11:14am</string>
	<key>43</key>
	<string>11:15am,11:22am</string>
	<key>44</key>
	<string>11:22am,11:29am</string>
	<key>45</key>
	<string>11:30am,11:37am</string>
	<key>46</key>
  <string>11:37am,11:44am</string>
	<key>47</key>
	<string>11:45am,11:52am</string>
	<key>48</key>
	<string>11:52am,11:59am</string>
	<key>49</key>
	<string>12:00pm,12:07pm</string>
	<key>50</key>
	<string>12:07pm,12:14pm</string>
	<key>51</key>
	<string>12:15pm,12:22pm</string>
	<key>52</key>
	<string>12:22pm,12:29pm</string>
	<key>53</key>
	<string>12:30pm,12:37pm</string>
	<key>54</key>
	<string>12:37pm,12:44pm</string>
	<key>55</key>
	<string>12:45pm,12:52pm</string>
	<key>56</key>
	<string>12:52pm,12:59pm</string>
	<key>57</key>
	<string>1:00pm,1:07pm</string>
	<key>58</key>
	<string>1:07pm,1:14pm</string>
	<key>59</key>
	<string>1:15pm,1:22pm</string>
	<key>60</key>
	<string>1:22pm,1:29pm</string>
	<key>61</key>
	<string>1:30pm,1:37pm</string>
	<key>62</key>
	<string>1:37pm,1:44pm</string>
	<key>63</key>
	<string>1:45pm,1:52pm</string>
	<key>64</key>
	<string>1:52pm,1:59pm</string>
	<key>65</key>
	<string>2:00pm,2:07pm</string>
	<key>66</key>
	<string>2:07pm,2:14pm</string>
	<key>67</key>
	<string>2:15pm,2:22pm</string>
	<key>68</key>
	<string>2:22pm,2:29pm</string>
	<key>69</key>
	<string>2:30pm,2:37pm</string>
	<key>70</key>
	<string>2:37pm,2:44pm</string>
	<key>71</key>
	<string>2:45pm,2:52pm</string>
	<key>72</key>
	<string>2:52pm,2:59pm</string>
	<key>73</key>
	<string>3:00pm,3:07pm</string>
	<key>74</key>
	<string>3:07pm,3:14pm</string>
	<key>75</key>
	<string>3:15pm,3:22pm</string>
	<key>76</key>
	<string>3:22pm,3:29pm</string>
	<key>77</key>
	<string>3:30pm,3:37Pm</string>
	<key>78</key>
	<string>3:37pm,3:44pm</string>
	<key>79</key>
	<string>3:45pm,3:52pm</string>
	<key>80</key>
	<string>3:52pm,3:59pm</string>
	<key>81</key>
  <string>4:00pm,4:07pm</string>
	<key>82</key>
	<string>4:07pm,4:14pm</string>
	<key>83</key>
	<string>4:15pm,4:22pm</string>
	<key>84</key>
	<string>4:22pm,4:29pm</string>
	<key>85</key>
	<string>4:30pm,4:37pm</string>
	<key>86</key>
	<string>4:37pm,4:44pm</string>
	<key>87</key>
	<string>4:45pm,4:52pm</string>
	<key>88</key>
	<string>4:52pm,4:59pm</string>
	<key>89</key>
	<string>5:00pm,5:07pm</string>
	<key>90</key>
	<string>5:07pm,5:14pm</string>
	<key>91</key>
	<string>5:15pm,5:22pm</string>
	<key>92</key>
	<string>5:22pm,5:29pm</string>
	<key>93</key>
	<string>5:30pm,5:37pm</string>
	<key>94</key>
	<string>5:37pm,5:44pm</string>
	<key>95</key>
	<string>5:45pm,5:52pm</string>
	<key>96</key>
	<string>5:52pm,5:59pm</string>
	<key>97</key>
	<string>6:00pm,6:07pm</string>
	<key>98</key>
	<string>6:07pm,6:14pm</string>
	<key>99</key>
	<string>6:15pm,6:22pm</string>
	<key>100</key>
	<string>6:22pm,6:29pm</string>
	<key>101</key>
	<string>6:30pm,6:37pm</string>
	<key>102</key>
	<string>6:37pm,6:44pm</string>
	<key>103</key>
	<string>6:45pm,6:52pm</string>
	<key>104</key>
	<string>6:52pm,6:59pm</string>
	<key>105</key>
	<string>7:00pm,7:07pm</string>
	<key>106</key>
	<string>7:07pm,7:14pm</string>
	<key>107</key>
	<string>7:15pm,7:22pm</string>
	<key>108</key>
	<string>7:22pm,7:29pm</string>
	<key>109</key>
	<string>7:30pm,7:37pm</string>
	<key>110</key>
	<string>7:37pm,7:44pm</string>
	<key>111</key>
	<string>7:45pm,7:52pm</string>
	<key>112</key>
	<string>7:52pm,7:59pm</string>
	<key>113</key>
	<string>8:00pm,8:07pm</string>
	<key>114</key>
	<string>8:07pm,8:14pm</string>
	<key>115</key>
	<string>8:15pm,8:22pm</string>
	<key>116</key>
	<string>8:22pm,8:29pm</string>
	<key>117</key>
	<string>8:30pm,8:37pm</string>
	<key>118</key>
	<string>8:37pm,8:44pm</string>
	<key>119</key>
	<string>8:45pm,8:52pm</string>
	<key>120</key>
	<string>8:52pm,8:59pm</string>
	<key>121</key>
	<string>9:00pm,9:07pm</string>
	<key>122</key>
	<string>9:07pm,9:14pm</string>
	<key>123</key>
	<string>9:15pm,9:22pm</string>
	<key>124</key>
	<string>9:22pm,9:29pm</string>
	<key>125</key>
	<string>9:30pm,9:37pm</string>
	<key>126</key>
	<string>9:37pm,9:44pm</string>
</dict>
</plist>
