<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<string>6:25am,7:20am</string>
	<key>2</key>
	<string>7:10am,8:05am</string>
	<key>3</key>
	<string>7:40am,8:35am</string>
	<key>4</key>
	<string>8:10am,9:00am</string>
	<key>5</key>
	<string>3:00pm,3:45pm</string>
	<key>6</key>
	<string>3:45pm,4:25pm</string>
	<key>7</key>
	<string>4:30pm,5:10pm</string>
	<key>8</key>
	<string>5:00pm,5:40pm</string>
	<key>9</key>
	<string>5:30pm,6:10pm</string>
	<key>10</key>
	<string>6:15pm,6:55pm</string>
	<key>11</key>
	<string>7:15pm,7:55pm</string>
	<key>12</key>
	<string>9:15pm,9:55pm</string>
</dict>
</plist>
