<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<string>6:15am,6:21am</string>
	<key>2</key>
	<string>6:30am,6:36am</string>
	<key>3</key>
	<string>6:45am,6:51am</string>
	<key>4</key>
	<string>7:00am,7:06am</string>
	<key>5</key>
	<string>7:15am,7:21am</string>
	<key>6</key>
	<string>7:30am,7:36am</string>
	<key>7</key>
	<string>7:45am,7:51am</string>
	<key>8</key>
	<string>8:00am,8:06am</string>
	<key>9</key>
	<string>8:15am,8:21am</string>
	<key>10</key>
	<string>8:30am,8:36am</string>
	<key>11</key>
	<string>8:45am,8:51am</string>
	<key>12</key>
	<string>9:00am,9:06am</string>
	<key>13</key>
	<string>9:15am,9:21am</string>
	<key>14</key>
	<string>9:30am,9:36am</string>
	<key>15</key>
	<string>9:45am,9:51am</string>
	<key>16</key>
	<string>10:00am,10:06am</string>
	<key>17</key>
	<string>10:20am,10:26am</string>
	<key>18</key>
	<string>10:40am,10:46am</string>
	<key>19</key>
	<string>11:00am,11:06am</string>
	<key>20</key>
	<string>11:20am,11:26am</string>
	<key>21</key>
	<string>11:40am,11:46am</string>
	<key>22</key>
	<string>12:00am,12:06pm</string>
	<key>23</key>
	<string>12:20pm,12:26pm</string>
	<key>24</key>
	<string>12:40pm,12:46pm</string>
	<key>25</key>
	<string>1:00pm,1:06pm</string>
	<key>26</key>
	<string>1:20pm,1:26pm</string>
	<key>27</key>
	<string>1:40pm,1:46pm</string>
	<key>28</key>
	<string>2:00pm,2:06pm</string>
	<key>29</key>
	<string>2:20pm,2:26pm</string>
	<key>30</key>
	<string>2:40pm,2:46pm</string>
	<key>31</key>
	<string>3:00pm,3:06pm</string>
	<key>32</key>
	<string>3:20pm,3:26pm</string>
	<key>33</key>
	<string>3:40pm,3:46pm</string>
	<key>34</key>
	<string>4:00pm,4:06pm</string>
	<key>35</key>
	<string>4:15pm,4:21pm</string>
	<key>36</key>
	<string>4:30pm,4:36pm</string>
	<key>37</key>
	<string>4:45pm,4:51pm</string>
	<key>38</key>
	<string>5:00pm,5:06pm</string>
	<key>39</key>
	<string>5:15pm,5:21pm</string>
	<key>40</key>
	<string>5:30pm,5:36pm</string>
	<key>41</key>
	<string>5:45pm,5:51pm</string>
	<key>42</key>
	<string>6:00pm,6:06pm</string>
	<key>43</key>
	<string>6:15pm,6:21pm</string>
	<key>44</key>
	<string>6:30pm,6:36pm</string>
	<key>45</key>
	<string>6:45pm,6:51pm</string>
	<key>46</key>
	<string>7:00pm,7:06pm</string>
	<key>47</key>
	<string>7:15pm,7:21pm</string>
	<key>48</key>
	<string>7:30pm,7:36pm</string>
	<key>49</key>
	<string>7:45pm,7:51pm</string>
	<key>50</key>
	<string>8:05pm,8:11pm</string>
</dict>
</plist>
