<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<string>6:10am,6:20am</string>
	<key>2</key>
	<string>6:30am,6:40am</string>
	<key>3</key>
	<string>6:40am,6:50am</string>
	<key>4</key>
	<string>6:50am,7:00am</string>
	<key>5</key>
	<string>7:00am,7:10am</string>
	<key>6</key>
	<string>7:10am,7:20am</string>
	<key>7</key>
	<string>7:20am,7:30am</string>
	<key>8</key>
	<string>7:30am,7:40am</string>
	<key>9</key>
	<string>7:40am,7:50am</string>
	<key>10</key>
	<string>7:50am,8:00am</string>
	<key>11</key>
	<string>8:00am,8:10am</string>
	<key>12</key>
	<string>8:10am,8:20am</string>
	<key>13</key>
	<string>8:20am,8:30am</string>
	<key>14</key>
	<string>8:30am,8:40am</string>
	<key>15</key>
	<string>8:40am,8:50am</string>
	<key>16</key>
	<string>8:50am,9:00am</string>
	<key>17</key>
	<string>9:00am,9:10am</string>
	<key>18</key>
	<string>9:10am,9:20am</string>
	<key>19</key>
	<string>9:20am,9:30am</string>
	<key>20</key>
	<string>9:30am,9:40am</string>
	<key>21</key>
	<string>9:40am,9:50am</string>
	<key>22</key>
	<string>9:50am,10:00am</string>
	<key>23</key>
	<string>10:00am,10:10am</string>
	<key>24</key>
	<string>10:22am,10:32am</string>
	<key>25</key>
	<string>10:52am,11:03am</string>
	<key>26</key>
	<string>11:22am,11:32am</string>
	<key>27</key>
	<string>11:52am,12:02pm</string>
	<key>28</key>
	<string>12:22pm,12:32pm</string>
	<key>29</key>
	<string>12:52pm,1:02pm</string>
	<key>30</key>
	<string>1:22pm,1:32pm</string>
	<key>31</key>
	<string>1:52pm,2:02pm</string>
	<key>32</key>
	<string>2:00pm,2:10pm</string>
	<key>33</key>
	<string>2:15pm,2:25pm</string>
	<key>34</key>
	<string>2:30pm,2:40pm</string>
	<key>35</key>
	<string>2:45pm,2:55pm</string>
	<key>36</key>
	<string>3:00pm,3:10pm</string>
	<key>37</key>
	<string>3:10pm,3:20pm</string>
	<key>38</key>
	<string>3:20pm,3:30pm</string>
	<key>39</key>
	<string>3:30pm,3:40pm</string>
	<key>40</key>
	<string>3:40pm,3:50pm</string>
	<key>41</key>
	<string>3:50pm,4:00pm</string>
	<key>42</key>
	<string>4:00pm,4:10pm</string>
	<key>43</key>
	<string>4:10pm,4:20pm</string>
	<key>44</key>
	<string>4:20pm,4:30pm</string>
	<key>45</key>
	<string>4:30pm,4:40pm</string>
	<key>46</key>
  <string>4:40pm,4:50pm</string>
	<key>47</key>
	<string>4:50pm,5:00pm</string>
	<key>48</key>
	<string>5:00pm,5:10pm</string>
	<key>49</key>
	<string>5:10pm,5:20pm</string>
	<key>50</key>
	<string>5:20pm,5:30pm</string>
	<key>51</key>
	<string>5:30pm,5:40pm</string>
	<key>52</key>
	<string>5:40pm,5:50pm</string>
	<key>53</key>
	<string>5:50pm,6:00pm</string>
	<key>54</key>
	<string>6:00pm,6:10pm</string>
	<key>55</key>
	<string>6:10pm,6:20pm</string>
	<key>56</key>
	<string>6:20pm,6:30pm</string>
	<key>57</key>
	<string>6:30pm,6:40pm</string>
	<key>58</key>
	<string>6:40pm,6:50pm</string>
	<key>59</key>
	<string>6:50pm,7:00pm</string>
	<key>60</key>
	<string>7:00pm,7:10pm</string>
	<key>61</key>
	<string>7:15pm,7:25pm</string>
	<key>62</key>
	<string>7:52pm,8:02pm</string>
	<key>63</key>
	<string>8:22pm,8:32pm</string>
	<key>64</key>
	<string>8:52pm,9:02pm</string>
	<key>65</key>
	<string>9:30pm,9:40pm</string>
</dict>
</plist>
